* {
  margin: 0;
  padding: 0;
}

@keyframes anim-logo {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes anim_image {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* SEMANTIC TAG SECTION */

html {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

article {
  align-items: center;
  border: solid 1px white;
  display: flex;
  height: 300px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

img {
  height: 100%;
  position: absolute;
  width: auto;
}

header {
  background-color: #3f3c3c;
  left: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

input {
  border: solid 1px white;
  border-bottom: 1px solid #dbd8d7;
  box-sizing: border-box;
  font-size: 0.8rem;
  margin-bottom: 15px;
  padding: 10px 5px;
  width: 100%;
}

nav {
  display: none;
}

section {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
}

textarea {
  background-color: #fbf8f7;
  border: none;
  box-sizing: border-box;
  font-size: 0.8rem;
  height: 120px;
  margin-bottom: 15px;
  padding: 10px 5px;
  resize: none;
  width: 100%;
}

/* CLASS BASE SECTION */

.alert {
  background-color: rgba(255,0,0,0.075);
  border: 1px solid red;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 5px rgba(255,0,0,0.1);
  color: red;
  display: none;
  margin: 20px 0;
  padding: 8px;
  text-align: center;  
  width: 100%;
  transition: 0.5s;
}

.alert .alertIcon {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.alert p {
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  width: 100%;
}

.clear {
  clear: both;
}

.contact-container {
  display: block;
  padding: 100px 0;
  width: 100%;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1080px;
  padding: 10px;
  width: 100%;
}

.contained-image {
  height: auto;
  position: relative;
  width: 100%;
}

.features {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  padding: 20px 20px 0 20px;
}

.features .feature-item {
  margin-bottom: 20px;
  text-align: center;
}

.features .icon-skill {
  height: 20px;
  margin-right: 10px;
  position: relative;
  vertical-align: baseline;
  width: 20px;
}

.header-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.lang-tag {
  list-style: none;
}

.lang-tag-base {
  list-style: none;
  margin-bottom: 20px;
}

.latest-work {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 20px;
}

.main-presentation {
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 15px;
  width: 100%;
}

.menu_hide {
  left: 100%;
  opacity: 0;
}

.menu_show {
  left: 0;
  opacity: 1;
}

.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: 1s;
}

.modal_hide {
  opacity: 0;
}

.modal_show {
  opacity: 1;
}

.modalWin {
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  max-height: 800px;
  max-width: 1080px;
  padding: 10px;
  position: relative;
  width: 90%;
  transition: 1s;
}

.modalWin h2 {
  font-family: 'Crete Round', serif;
  font-size: 2rem;
  font-weight: normal;
  line-height: 2rem;
  margin-bottom: 15px;
}

.modalWin #closeModal {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  float: right;
  justify-content: center;
  height: 50px;
  margin: -10px -10px 0 0;
  opacity: 0.33;
  transition: 0.5s;
  width: 50px;
}

.modalWin #closeModal:hover {
  cursor: pointer;
  font-size: 1.5rem;
  opacity: 1;
  transition: 0.5s;
}

.modalWin .modalImage {
  padding-bottom: 10px;
}

.modalWin .modalInfo {
  padding: 0 0 0 0;
}

.modalGrid {
  display: grid;
  grid-template-columns: auto;
  column-gap: 0;
}

.movil-menu {
  color: white;
  display: block;
  padding: 0 20px;
  user-select: none;
}

.presentation {
  max-width: 400px;
  width: 100%;
}

.social-icon {
  font-size: 1.25rem;
  margin-right: 10px;
}

.social-icons {
  display: block;
  height: auto;
  padding-top: 30px;
  text-align: left;
  width: 100%;
}

.submit_btn {
  border: none;
  background-color: #f55800;
  color: white;
  font-size: 1rem;
  padding: 12px 18px;
  transition: 0.5s;
}

.work-btn {
  background-color: #f55800;
  bottom: 0;
  color: white;
  display: none;
  left: 0;
  padding: 8px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.work-gallery {
  display: grid;
  grid-template-columns: auto;
  column-gap: 30px;
  row-gap: 30px;
}

.work-info {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 20%, rgba(0, 0, 0, 0) 100%);
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  left: 0;
  padding: 10px 10px 0 10px;
  position: absolute;
  top: 0;
  width: 100%;
}

#about {
  align-items: center;
  background: #1c1a19;
  color: white;
  display: flex;
  flex-direction: column;
}

#about .about-background {
  align-items: center;
  background: url(../images/Frame.png) no-repeat right center;
  background-size: 293px 177px;
  background-position: right -141px bottom;
  display: block;
  padding-bottom: 70px;
  width: 100%;
}

#about .content-info {
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
}

#contact {
  min-height: 400px;
}

#contact .contact-form {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

#contact .field_name {
  float: none;
  width: 100%;
}

#cover {
  align-items: center;
  background: #1c1a19 url(../images/Illustration-header.png) no-repeat;
  background-size: 331px 475px;
  background-position: right -131px bottom;
  color: white;
  display: flex;
  justify-content: space-between;
}

#mobile_menu {
  background-color: #3c3a39;
  box-sizing: border-box;
  display: block;
  height: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px;
  position: fixed;
  transition: 0.5s;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#mobile_menu #mobile_button {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  user-select: none;
  width: 50px;
}

#portfolio {
  padding: 80px 0;
}

/* HR SECTION */

hr {
  border: 1px solid #9b9b9b;
}

/* A SECTION */

a {
  background-color: #f55800;
  color: white;
  display: inline-block;
  margin-right: 10px;
  padding: 6px 12px;
  text-decoration: none;
  transition: 0.5s;
}

header a {
  background: none;
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.social-icons a {
  background: none;
  color: white;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

.work-gallery a {
  background: none;
  margin: 0;
  padding: 0;
}

/* A:HOVER SECTION */

a:hover {
  background-color: #b94200;
  text-decoration: none;
  transition: 0.5s;
}

header a:hover {
  background: none;
  color: #f55800;
}

.social-icons a:hover {
  background: none;
  color: #f55800;
  transition: 0.5s;
}

#mobile_menu a {
  background: none;
  color: #fff5e1;
  text-decoration: none;
}

/* TITLES SECTION */

#cover h1 {
  color: #f55800;
  font-family: 'Crete Round', serif;
  font-size: 3rem;
  font-weight: normal;
  line-height: 3.5rem;
  margin-bottom: 20px;
}

.content-info h2 {
  color: #f55800;
  font-family: 'Crete Round', serif;
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: 15px;
}

#cover h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 20px;
}

#portfolio h2 {
  border-bottom: 1px solid #000;
  color: black;
  font-family: 'Crete Round', serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.1em;
  margin: 0 0 10vh 0;
  width: 100%;
}

#portfolio h2 span {
  background: white;
  padding-right: 20px;
}

.latest-work h3 {
  color: black;
  font-family: 'Crete Round', serif;
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.features h3 {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.work-info h4 {
  font-family: 'Crete Round', serif;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin-bottom: 10px;
}

/* PARAGRAPH SECTION */

header p {
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.content-info p {
  color: white;
  line-height: 1.5rem;
  margin-bottom: 20px;
}

.header-flex p {
  transition: transform 0.5s ease-out;
  animation-name: anim-logo;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.latest-work p {
  margin-bottom: 30px;
}

.modalWin p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding-bottom: 15px;
  width: 100%;
}

.work-info p {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-bottom: 10px;
}

#contact .highText {
  box-sizing: border-box;
  padding: 20px;
  font-size: 1.75rem;
  font-weight: bold;
  width: 100%;
}

#cover p {
  line-height: 1.75rem;
}

/* UL SECTION */

.features ul {
  list-style: none;
}

.social-icons ul {
  list-style: none;
}

#contact ul {
  border-top: solid 1px #dfe1e6;
  margin-top: 50px;
  padding: 15px 0;
  text-align: center;
}

#mobile_menu ul {
  list-style-type: none;
  margin: 60px 0 0 0;
  padding: 0;
}

/* LI SECTION */

.lang-tag li {
  background-color: rgba(100, 100, 100, 0.75);
  display: inline-block;
  font-size: 0.7rem;
  margin: 0 10px 10px 0;
  padding: 7px;
}

.lang-tag-base li {
  background: none;
  border: solid 1px #000;
  display: inline-block;
  font-size: 0.8rem;
  margin: 0 10px 10px 0;
  padding: 7px;
}

.features li {
  padding-bottom: 20px;
}

.social-icons li {
  display: inline-block;
}

#contact li {
  display: inline-block;
}

#contact li a {
  background: none;
  color: #505f79;
  padding: 0 8px;
  transition: 0.5s;
}

#mobile_menu li {
  border-bottom: solid 1px #6f6c6b;
  margin: 0;
  padding: 20px;
}

article:hover {
  border: solid 1px black;
}

article:hover img {
  animation-name: anim_image;
  animation-duration: 1s;
}

#mobile_menu #mobile_button img {
  height: 20px;
  opacity: 0.6;
  width: 20px;
}

article:hover .work-info {
  display: none;
}

article:hover .work-btn {
  display: block;
}

#contact li a:hover {
  background: none;
  color: #242a36;
  transition: 0.5s;
}

.submit_btn:hover {
  background-color: #b94200;
  cursor: pointer;
  transition: 0.5s;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX DESKTOP VERSION XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (min-width: 768px) {
  nav {
    display: block;
  }

  nav ul {
    list-style: none;
  }

  nav li {
    display: inline;
    font-size: 0.9rem;
    margin: 0 10px;
  }

  nav ul li a {
    transition: all 0.5s;
  }

  nav ul li a:hover {
    transition: all 0.5s;
    color: #f55800;
  }

  .main-presentation {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .movil-menu {
    display: none;
  }

  .latest-work {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    margin-bottom: 30px;
    width: 100%;
  }

  .social-icons {
    align-items: center;
    display: flex;
    height: auto;
    flex-direction: column;
    margin-right: 30px;
    width: 80px;
  }

  #about .about-background {
    align-items: center;
    background: url(../images/Frame.png) no-repeat right center;
    background-size: 439px 244px;
    background-position: right center;
    min-height: 400px;
    display: flex;
    width: 100%;
  }

  #about .content-info {
    width: 50%;
  }

  #contact .highText {
    box-sizing: border-box;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 20px 50px;
    width: 50%;
  }

  #contact .contact-form {
    box-sizing: border-box;
    height: auto;
    padding: 20px;
    width: 50%;
  }

  #contact .field_name {
    float: left;
    width: 50%;
  }

  #cover {
    align-items: center;
    background: #1c1a19 url(../images/Illustration-header.png) no-repeat bottom right;
    color: white;
    display: flex;
    justify-content: space-between;
  }

  #cover h1 {
    color: #f55800;
    font-family: 'Crete Round', serif;
    font-size: 4rem;
    font-weight: normal;
    line-height: 4.5rem;
    margin-bottom: 20px;
  }

  #mobile_menu {
    display: none;
  }

  .contact-container {
    align-items: center;
    display: flex;
    min-height: 400px;
    flex-direction: row;
  }

  .features {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    margin: 50px 0 30px 0;
    text-align: left;
    width: 100%;
  }

  .features .feature-item {
    margin-bottom: 20px;
    text-align: left;
  }

  .features .icon-skill {
    height: 20px;
    margin-right: 10px;
    position: relative;
    vertical-align: baseline;
    width: 20px;
  }

  .features li {
    padding-bottom: 20px;
  }

  .social-icons li {
    display: block;
    margin: 20px 0;
  }

  .features ul {
    list-style: none;
  }

  .modalWin .modalInfo {
    padding: 0 0 10px 20px;
  }

  .modalGrid {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .work-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 30px;
  }
}
